.Cart .cart_details {
    background-color: var(--section-bg);
    color: var(--section-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    border-radius: 5px;
    transition: 2s;
}
.Cart .cart_details img {
    width: 80px;
    height: 80px;
}
.cart_details .process button{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 50%;
}
.cart_details .process span{
    font-style: italic;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.totall{
    background-color: var(--section-bg);
    color: var(--section-color);
    font-size: 25px;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    transition: 0.5s;
}